<div id="new-answer-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Answer</h4>
      </div>
      <%= form_for :answer, url: '/answers', html: {class: 'form-horizontal'} do %>
      <div class="modal-body">
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Enter email" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="inputAnswer">Answer:</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="inputAnswer" name="answer_body" placeholder="What is your answer" required></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
              <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      </div>
    <%end%>
    </div>
  </div>
</div>
